ol {
	margin: 0;
	padding: 0
}

table td,
table th {
	padding: 0
}

.c2 {
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
	font-style: normal
}

.c0 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	orphans: 2;
	widows: 2;
	text-align: left
}

.c3 {
	max-width: 468pt;
}


.title {
	padding-top: 0pt;
	font-size: 26pt;
	padding-bottom: 3pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

.subtitle {
	padding-top: 0pt;
	font-size: 15pt;
	padding-bottom: 16pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

li {
	font-size: 11pt;
}

p {
	margin: 0;
	font-size: 11pt;
}

h1 {
	padding-top: 20pt;
	font-size: 20pt;
	padding-bottom: 6pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h2 {
	padding-top: 18pt;
	font-size: 16pt;
	padding-bottom: 6pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h3 {
	padding-top: 16pt;
	font-size: 14pt;
	padding-bottom: 4pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h4 {
	padding-top: 14pt;
	font-size: 12pt;
	padding-bottom: 4pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h5 {
	padding-top: 12pt;
	font-size: 11pt;
	padding-bottom: 4pt;
	line-height: 1.15;
	page-break-after: avoid;
	orphans: 2;
	widows: 2;
	text-align: left
}

h6 {
	padding-top: 12pt;
	font-size: 11pt;
	padding-bottom: 4pt;
	line-height: 1.15;
	page-break-after: avoid;
	font-style: italic;
	orphans: 2;
	widows: 2;
	text-align: left
}
